body {
    display: flex;

    margin: -25px 0 0 -25px;
}

.game-container {
    width: 500px;
    height: 730px;
    position: absolute;
    left: 80px;
}
.stop-message{
    width: 181px;
    height: 100px;
    position: absolute;
    z-index: +8;
    display: none;
    top: 350px;
    left: 256px;
    background-size: 100% 100%;
}
.border-left {
    width: 110px;
    height: 790px;
    position:  absolute;
    background-color: white;
    z-index: +2;
}

.border-right {
    width: 80px;
    height: 790px;
    position: absolute;
    background-color: white;
    z-index: +2;
    left: 580px;
}

.border-top {
    width: 660px;
    height: 50px;
    position:  absolute;
    background-color: white;
    z-index: +2;
    top: -50px;
}

.sky {
    background-image: url('fb-game-background.png');
    width: 500px;
    height: 580px;
    position: absolute;
}

.ground {
    background-image: url('bottom-background.png');
    width: 500px;
    height: 150px;
    position: absolute;
    top: 580px;
    z-index: +1;
}

.bird {
    background-image: url('flappy-bird.png');
    position: absolute;
    width: 60px;
    height: 45px;
    left: 220px;
    bottom: 100px;
    animation: fly 0.5s infinite alternate;
    animation-timing-function: ease-in-out;
}

.obstacle {
    background-image: url('flappybird-pipe.png');
    width: 60px;
    height: 300px;
    position: absolute;
}

.topObstacle {
    background-image: url('flappybird-pipe.png');
    transform: rotate(180deg);
    width: 60px;
    height: 300px;
    position: absolute;
}

@keyframes slideright {
    from {
        background-position: 10000%;
    }
    to {
        background-position: 0%;
    }
  }
  
  @-webkit-keyframes slideright {
    from {
        background-position: 10000%;
    }
    to {
        background-position: 0%;
    }
  }

  .ground-container {
      height: 150px;
      width: 580px;
      left: 80px;
      position:  absolute;
  }
  
  .ground-moving {
    position: absolute;
    top: 580px;
    height: 150px;
    background-image: url('bottom-background.png');
    background-repeat: repeat-x;
    animation: slideright 100s infinite linear;
    -webkit-animation: slideright 100s infinite linear;
    width: 100%;
    z-index: +1;
  }

  @keyframes fly {
    0% {
        transform: translateY(-3px);
    }
    50% {
        transform: translateY(3px);
    }
    100% {
        transform: translateY(-3px);
    }
}
.Score{
    top: 250px; left: 15px; width: 250px;position: absolute;
    font-size: 25px;
}
.Hearts{
    position: absolute;
    top: 300px; left: 70px; 
}
.Hearts img{
    width: 60px;
}